<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<style>
body {
  background: url(Wipro.jpg) no-repeat;
  background-size: 100%;
}
</style>
<div class="jumbotron">
	<h3>"Welcome to Alcatel Lucent - Project Management" </h3>
</div>
<div class="container">

  <div class="row">
    <div class="col-sm-8">
    </div>
    <div class="col-sm-4">
    <h2>Enter Login Credentials</h2>
		<form role="form" th:action="@{/checkLogin}" method="post">
    <div class="form-group">
    	<label for="username">Username:</label>
    	<input type="text" class="form-control" id="username" name="username" placeholder="enter your name"/> 
    </div>
    <div class="form-group">
    	<label for="password">Password:</label>
    	<input type="password" class="form-control" id="password" name="password" placeholder="enter password here"/> 
    </div>
    	<input type="submit" class="btn btn-default" value="Submit"/>
	</form>
    </div>

  </div>
</div>

</body>
</html>