<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--link rel="stylesheet" type="text/css" media="all" href="style.css" th:href="@{style.css}" /!-->
</head>
<body >

	<div class="jumbotron">
    <p th:text="'Welcome to Alcatel Lucent ' + ${name} + '!'" />
	</div>
	<div class="container">
	<div class="row">
	<div class="col-sm-4">
	<div class="list-group">
  		<h2>Select Option</h2>
    		<a href="/welcome" class="list-group-item active">
      			<h4 class="list-group-item-heading">Projects List</h4>
      			<p class="list-group-item-text">Add/delete or edit project details</p>
    		</a>
    		<a href="/employee" class="list-group-item">
      			<h4 class="list-group-item-heading">Employee List</h4>
      			<p class="list-group-item-text">Add/delete a member from Project</p>
    		</a>
    		<a href="/kt" class="list-group-item">
      			<h4 class="list-group-item-heading">Knowledge Transfer Status</h4>
      			<p class="list-group-item-text">Add/remove or Check status of KT going on</p>
    		</a>
  	</div>
  	</div>
	<div class="col-sm-8">
    	<h1>Projects List</h1>
		<form th:action="@{project.do}" method="post">
			<input type="hidden"  id="name2" name="name2" th:value="${name}" />
			<table class="table table-hover">
				<tr>
					<td>Project name</td>
					<td><input type="text" th:value="${projectname}" name="projectname"/></td>
				</tr>
				<tr>
					<td>Client</td>
					<td><input type="text" th:value="${client}" name="client"/></td>
				</tr>
				<tr>
					<td>Client Location</td>
					<td><input type="text" th:value="${location}" name="location"/></td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" class="btn btn-success" name="action" value="Add" />
						<input type="submit" class="btn btn-warning" name="action" value="Edit" />
						<input type="submit" class="btn btn-danger" name="action" value="Delete" />
					</td>
				</tr>
			</table>
		</form>
		<br></br>
			<table class="table table-bordered">
				<tr>
					<th>ID</th>
					<th>Project name</th>
					<th>Client</th>
					<th>Location</th>
				</tr>
				<tr th:each="proj : ${a}">
	        		<td th:text="${proj.id}">1</td>
	        		<td th:text="${proj.projectname}">projectname</td>
	        		<td th:text="${proj.client}">client</td>
	        		<td th:text="${proj.location}">location</td>
				</tr>
			</table>
		</div>
	</div>	
</div>
</body>
</html>